<div class="px-lg-3 py-lg-5">
    <div class="row">
        <div class="col-lg-4">
            <a class="text-dark" href="">Computers</a>
        </div>
        <div class="col-lg-4">
            <a href="">
                <span class="material-symbols-outlined text-dark small">
                    add_circle
                </span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a class="text-dark" href="">Suppliers</a>
        </div>
        <div class="col">
            <a class="" href="">
                <span class="material-symbols-outlined text-dark small text-start">
                    add_circle
                </span>
            </a>
        </div>
    </div>
</div>